* {
  box-sizing: border-box;
}

body {
  font-family: "TT Norms", sans-serif;
  min-width: 320px;
}

.main-container, .container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.header-container-lang__link-lang-uk:hover, .header-container-lang__link.link-lang:hover {
  background-color: #FFFFFF;
  color: #B3B3BA;
}

.link-lang, .header-container-lang__link-lang-uk {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 6px 5px 6px;
  border-radius: 25%;
  border: none;
}

.header-container-lang__link-lang-uk {
  background-color: #F0145A;
}

.header-container-contacts__link-tel::after, .header-container-contacts__link-adres::after, .header-container-lang::after {
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50px;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 7px;
}

.link-dot {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  content: "";
  display: block;
}

.container-teams__text.title-hero, .exper-container__link, .main-services-container.title-hero {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.container-teams__text.title-hero, .exper-container__link:hover, .exper-container__link.link-first, .main-services-container.title-hero {
  background: linear-gradient(to right, #F0145A, #EF8080);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.exper-container__title {
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  font-weight: 500;
}

.main-services-menu__title {
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
  font-weight: 500;
}

.main-services-menu__text {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-container {
  box-shadow: 0px 10px 0px -4px #cacadb, 0px 20px 0px -8px #e7e7f2;
  border-radius: 0px 0px 12px 12px;
  position: relative;
  z-index: 1;
}

.container-teams__link, .main-services-container__link {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.container-teams__title.title-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.container-teams__text.text-boss {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.icon-bg {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.icon-bg-img {
  background-image: url(../images/fon.svg);
  background-position: center 178px;
  background-repeat: no-repeat;
}

.header-container-lang {
  display: flex;
}

.btm-nav {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-bottom: 120px;
  padding-top: 50px;
}

.header-container-contacts__link-adres {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin-right: 10px;
}

.header-container-contacts__link-tel {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin-right: 10px;
}

.header-container-logo {
  margin-right: 20px;
}

.header-container-contact {
  display: flex;
  margin-bottom: 19px;
  padding-top: 6px;
}

.header-container-logo__link {
  text-decoration: none;
  display: block;
}

.header-nav__list {
  display: flex;
}

.header-container-nav {
  display: flex;
  order: 1;
  justify-content: flex-end;
}

.header-nav__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.header-nav__item {
  margin-right: 15px;
}

.header-nav__item:last-child {
  margin-right: 0px;
}

.header-container-lang {
  margin-right: 10px;
}

.header-container-contacts__link-f:hover {
  background: url(../images/Facebook.svg);
}

.header-container-contacts__link-f {
  background: url(../images/Facebook_w.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
}

.header-nav__link:hover {
  color: #0085FF;
}

.fb:hover {
  fill: #0085FF;
}

.header-container-contacts {
  display: flex;
  justify-content: flex-end;
}

.header-container-contacts__link-adres:hover {
  color: #B3B3BA;
}

.header-container-contacts__link-tel:hover {
  color: #B3B3BA;
}

.icon-logo-container__text {
  font-size: 38px;
  line-height: 45px;
  color: #FFFFFF;
  font-weight: 500;
  max-width: 600px;
  text-align: center;
  margin-bottom: 152px;
}

.icon-logo {
  margin-top: 58px;
  padding-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-buton__btm-svg {
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 12px 11px 13px 11px;
  background-color: #323264;
  width: 42px;
  height: 42px;
  margin-bottom: 20px;
  margin-top: 138px;
}

.icon-buton {
  background-size: 100% 200px;
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-bg::after {
  background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 200px;
  width: 100%;
}

.icon-logo__container {
  margin-bottom: auto;
}

@media (max-width: 900px) {
  .icon-bg.container {
    width: 100%;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-container-lang::after {
    display: none;
  }

  .header-container-logo {
    order: 1;
  }

  .header-container {
    flex-direction: column;
    display: flex;
  }

  .header-container-contact {
    justify-content: space-between;
  }

  .header {
    padding-bottom: 50px;
  }

  .icon-buton {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .svg-logo-mini {
    width: 78px;
    height: 31px;
  }

  .header-nav__list {
    display: none;
  }

  .header-container-contacts__link-adres {
    display: none;
    width: 155px;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .header-container-contacts__link-f {
    display: none;
  }

  .header-container-contacts__link-tel::after {
    display: none;
  }

  .btm-nav {
    text-decoration: none;
    display: initial;
    display: block;
  }

  .header-container-logo {
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
  }

  .icon-logo {
    margin-top: 0px;
    padding-top: 38px;
  }

  .icon-logo__container {
    margin-bottom: 63px;
  }

  .icon-bg-img {
    background-image: url(../images/logotip.svg);
  }
}
@font-face {
  font-family: "TT Norms";
  src: url("subset-TTNorms-Bold.eot");
  src: url("subset-TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("subset-TTNorms-Bold.woff2") format("woff2"), url("subset-TTNorms-Bold.woff") format("woff"), url("subset-TTNorms-Bold.ttf") format("truetype"), url("subset-TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("subset-TTNorms-Regular.eot");
  src: url("subset-TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("subset-TTNorms-Regular.woff2") format("woff2"), url("subset-TTNorms-Regular.woff") format("woff"), url("subset-TTNorms-Regular.ttf") format("truetype"), url("subset-TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("subset-TTNorms-Medium.eot");
  src: url("subset-TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("subset-TTNorms-Medium.woff2") format("woff2"), url("subset-TTNorms-Medium.woff") format("woff"), url("subset-TTNorms-Medium.ttf") format("truetype"), url("subset-TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main-services__container {
  padding-bottom: 80px;
}

.main-container {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 12px 12px;
  padding-top: 80px;
}

.main-services-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-services-container__link {
  opacity: 0.5;
  color: #FFFFFF;
  margin-bottom: 3px;
}

.main-services-container.title-hero {
  margin-bottom: 58px;
}

.main-services-menu__title {
  margin-bottom: 15px;
}

.main-services-menu__img {
  margin-bottom: 20px;
}

.main-services-menu__item {
  margin-right: 5px;
  width: 31%;
  margin-bottom: 58px;
}

.main-services-menu__item:nth-child(3n+3) {
  margin-right: 0px;
}

.main-services-menu__item:nth-child(4n+1) {
  margin-bottom: 0px;
}

@media (max-width: 900px) {
  .main-services {
    width: 100%;
  }

  .main-services-container.title-hero {
    width: 100%;
  }

  .main-services-menu__item {
    margin-right: 5px;
    width: 47%;
    margin-bottom: 58px;
  }

  .main-services-menu__item:nth-child(2n+2) {
    margin-right: 0px;
  }

  .main-services-menu__item:nth-child(5n+1) {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .main-services-menu__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .main-services-container.title-hero {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .main-services-menu__title {
    font-size: 18px;
    line-height: 21px;
    width: 260px;
  }

  .main-services-menu__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0px;
  }

  .main-services-menu__img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }

  .main-services-menu__text {
    font-size: 16px;
    line-height: 22px;
  }

  .main-services-menu__item:nth-child(1n) {
    margin-bottom: 40px;
  }

  .main-services-menu__item:nth-child(6n) {
    margin-bottom: 0px;
  }

  .main-services__container {
    padding-bottom: 20px;
  }
}
.main-exper {
  display: flex;
  padding-bottom: 100px;
}

.exper-container__link {
  text-decoration: none;
  color: #B3B3BA;
  border-right: 4px solid;
  border-color: #E6E6F0;
}

.main-exper-link.link-btm {
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50px;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 7px;
}

.exper-container__title {
  margin-bottom: 20px;
}

.exper-container__text {
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-exper-container {
  margin-right: 40px;
}

.exper-container__list {
  margin-right: 40px;
}

.exper-container__item {
  margin-bottom: 20px;
}

.exper-container__item:last-child {
  margin-bottom: 0px;
}

.exper-container__link:hover {
  border-color: linear-gradient(to right, #F0145A, #EF8080);
}

.link-dot {
  margin-right: 14px;
  opacity: 0.2;
  background-color: #24A3FF;
}

.main-exper-link.link-dot.first {
  opacity: 1;
  background-color: #24A3FF;
}

.main-exper-container-link {
  display: flex;
  display: none;
}

.main-exper-link.link-dot:last-child {
  margin-right: 0px;
}

.main-exper-link.link-dot:hover {
  opacity: 1;
  background-color: #24A3FF;
}

.exper-container-text {
  padding-top: 50px;
}

@media (max-width: 900px) {
  .main-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
  }

  .exper-container__link {
    display: none;
  }

  .exper-container__link.link-first {
    display: initial;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .main-exper-container {
    margin-right: 0px;
    border-right: 0px;
  }

  .exper-container__title {
    font-size: 22px;
    line-height: 26px;
  }

  .exper-container__text {
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    margin-bottom: 20px;
  }

  .main-exper {
    flex-direction: column;
  }

  .exper-container-text {
    padding-top: 0px;
    margin-bottom: 20px;
  }

  .exper-container__title {
    margin-bottom: 15px;
  }

  .main-exper-container-link {
    display: initial;
    display: flex;
    justify-content: center;
  }
}
.main-team.container {
  background-color: #FFFFFF;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

.main-team__container {
  background-color: #F5F5FA;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
}

.main-team-container-teams {
  padding-top: 40px;
  margin-left: 20px;
}

.container-teams__link {
  color: #24A3FF;
  margin-bottom: 3px;
}

.main-team-container-link {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 41px;
}

.container-teams__text.title-hero {
  margin-bottom: 20px;
}

.container-teams__title.title-name {
  color: #B3B3BA;
  margin-bottom: 5px;
}

.container-teams__text.text-boss {
  color: #B3B3BA;
}

.main-team-container-link {
  display: flex;
}

.img-foto-mini {
  display: none;
}

.img-foto {
  display: block;
}

@media (max-width: 900px) {
  .main-team {
    width: 100%;
  }

  .main-team__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }

  .main-team-container-teams {
    padding-top: 10px;
  }

  .container-teams__name {
    order: -1;
    margin-bottom: 20px;
    text-align: center;
  }

  .container-teams__text.title-hero {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .main-team {
    width: 100%;
  }

  .main-team-container-teams {
    padding-top: 10px;
    margin-left: 0px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }

  .container-teams__text.title-hero {
    margin-bottom: 0px;
  }

  .img-foto {
    display: none;
  }

  .img-foto-mini {
    display: initial;
    display: block;
    margin-right: 10px;
  }

  .container-teams__text.title-hero {
    font-size: 32px;
    line-height: 38px;
  }

  .container-teams__name {
    display: flex;
    width: 142px;
  }

  .main-team-img-mini {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
