.footer.container {
    padding-top: 32px;
    padding-bottom: 40px;
    background-color: $bg_color;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer-container {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
}

.footer-container-link.link-adres {
    color: $supersoft_color;
    margin-right: 31px;
}

.footer-container-link.link-map {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $regular_color;
    font-weight: 700;

    &:hover {
        color: $accent_color;
    }
}

.footer-container-contact {
    display: flex;
    align-items: center;
}

.footer-container-contact__link.link-f {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.footer-container-contact__link.link-tel {
    color: $supersoft_color;
    margin-right: 10px;
}

.footer-container-contact__link.link-email {
    @extend %text;
    color: $regular_color;
    text-decoration: none;

    &:hover {
        color: $accent_color;
    }
}

.fb:hover {
    fill: $accent_color;
}

.footer-container-name.text-name {
    @extend %text;
    color: $text_color;
}

.dot {
    width: 6px;
	height: 6px;
	background-color:$text_color;
	border-radius: 50px;
    content: '';
    display: block;  
    margin-right: 10px;
}

@media (max-width:900px) {
    .footer__container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-container-contact {
        margin-bottom: 20px;
    }

}

@media (max-width:767px){
    .footer.container {
        padding-top: 22px;
        padding-bottom: 116px;
    }

    .footer-container {
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }

    .dot {
        display: none;
    }

    .footer-container-link.link-adres {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .footer-container-contact {
        flex-direction: column;
    }

    .footer-container-contact__link.link-f {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .footer-container-contact__link.link-tel {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .footer-container-name.text-name {
        text-align: center;
    }

    .footer-cont-name {
        width: 80%;
    }
}