.footer.container {
    padding-top: 32px;
    padding-bottom: 40px;
}

.footer__container {
    
    .link-adres {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400px;
        color: $supersoft_color;
    }
}