.header-team {

    &.link-lang{
    color: $text_color;
    }

    &:hover {
        background-color: $bg_color;
    }

    &.link-lang-uk.link-lang {
        color: $primari_color;
    }
    &.link-adres{
        color: $text_color;
    }

    &.link-tel {
        color: $text_color;
    }
}

.header-team.fsb:hover{
    background-color: $active_color;
}

.header-team.nav__link {
    color: $regular_color;

    &:hover{
        color: $accent_color;
        border-bottom: 2px solid $accent_color;
    }
}

.header-team.nav__link.link-team {
    color: $accent_color;
}

.header-team.nav__item.item-team {
    border-bottom: 2px solid $accent_color;
}

.header-container-contact.header-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo__link-header-team {
    display: none;
}

.header-container-logo__link.header-team {
    font-size: 38px;
    line-height: 45px;
    color: $supersoft_color;
    display: flex;
    flex-wrap: wrap;
}

.svg-logo-team {
    margin-right: 4px;
}

@media (max-width:900px) {

    .header-container.header-team-container.container {
        width: 100%;
    }

    .header-container-contact.header-team {
        justify-content: space-between;
        
    }

    // .logo__link-header-team {
    //     display: inline;
    // }
    // .header-container-logo__link.header-team {
    //     display: none;
    // }

    .svg-logo-team {

        width: 76px;
        height: 31px;
    }

    .svg-logo-slesh {
        width: 11px;
        height: 24px;
    }

    .svg-logo-p {
        width: 21px;
        height: 24px;
    }

    .header-container-logo__link.header-team {
        font-size: 19px;
        line-height: 22px;
    }
    
}

@media (max-width:767px) {
    .header-team.link-adres {
        display: none;
    }
        
}






