.header-container {
    @extend %cont;
    display: flex;
    justify-content: space-between;
}

.header {
    
    padding-bottom: 68px;
}

.icon {
    background-image: url('../images/Pattern.svg');
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat; 
    @extend %cont;
    
}

.header-container-lang__link-lang-uk {
    @extend %lang;
    @extend %outline;
}

.header-container-lang__link-lang-ru {
    @extend %lang;
}

.header-container-lang__link-lang-en {
    @extend %lang;
}

.header-container-lang__link-lang-ru:hover {
    @extend %fon;
}

.header-container-lang__link-lang-uk:hover {
    @extend %fon;
}

.header-container-lang__link-lang-en:hover {
    @extend %fon;
}

.header-container-lang__link-lang:last-child {
    margin-right: 0px;
}

.header-container-contacts__link-adres {
    text-decoration: none;
    color: $primari_color;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 10px;
}

.header-container-contacts__link-tel {
    text-decoration: none;
    color: $primari_color;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin-right: 10px;
}

.header-container-logo {
    margin-right: 20px;
}

.header-container-contact {
    display: flex;
    // align-items: baseline;
    margin-bottom: 19px;
    padding-top: 6px;
}

.header-nav__list {
    display: flex;
}

.header-container-nav {
    display: flex;
    order: 1;
    justify-content: flex-end;
}

.header-nav__link {
    text-decoration: none;
    color: $primari_color;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.header-nav__item {
    margin-right: 15px;
}

.header-nav__item:last-child {
    margin-right: 0px;
}

.header-container-lang {
    margin-right: 10px;
}

.header-container-contacts__link-f:hover {
    background: url(../images/Facebook.svg);
}

.header-container-contacts__link-f{
    background: url(../images/Facebook_w.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
}

.header-nav__link:hover {
    color: $active_color;
}

.fb:hover {
    fill: $active_color;
}

.header-container-lang::after   {
    @extend %point;
}

.header-container-contacts {
    display: flex;
   
}

.header-container-contacts__link-adres::after {
    @extend %point; 
}

.header-container-contacts__link-tel::after {
    @extend %point;
}

.header-container-contacts__link-adres:hover {
    color: $text_color;
}

.header-container-contacts__link-tel:hover {
    color: $text_color;
}

.icon-logo-container__text {
    font-size: 38px;
    line-height: 45px;
    color: $primari_color;
    font-weight: 500;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.icon-logo {
    background-image: url('../images/Symbol_Long_leg.svg'), url('../images/Frame_w.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 121px;
    
}


.icon-buton__btm-svg {
    border-radius: 50%;
    border: 1px solid $primari_color;
    text-decoration: none;
    display: block;
    padding: 12px 11px 13px 11px;
    background-color: $supersoft_color;
    

}

.icon-buton {
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 100, 0); 
    
}

.icon-logo__container {
   height: 100vh;
}


