.lang-team.link-lang{
    color: $text_color;
}

.lang-team:hover {
    background-color: $bg_color;
}

.lang-team.link-lang-uk.link-lang {
    color: $primari_color;
}

.link-adres.link-teams-adres{
    color: $text_color;
}

.link-tel.link-teams-tel {
    color: $text_color;
}

.path-teams.fsb:hover{
    background-color: $active_color;
}

.nav__link.link-header {
    color: $regular_color;

    &:hover{
        color: $accent_color;
        border-bottom: 2px solid $accent_color;
    }
}

.nav__link.link-header.link-team {
    color: $accent_color;
}

.header-team.nav__item.item-team {
    border-bottom: 2px solid $accent_color;
}

.header-container-contact.header-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo__link-header-team {
    display: none;
}

.header-container-logo__link.header-team {
    font-size: 38px;
    line-height: 45px;
    color: $supersoft_color;
    display: flex;
    flex-wrap: wrap;
}

.svg-logo-team {
    margin-right: 4px;
}

@media (max-width:900px) {

    .header-container.header-team-container.container {
        width: 100%;
    }

    .header-container-contact.header-team {
        justify-content: space-between;
        
    }

    .svg-logo-team {
        width: 76px;
        height: 31px;
    }

    .svg-logo-slesh {
        width: 11px;
        height: 24px;
    }

    .svg-logo-p {
        width: 21px;
        height: 24px;
    }

    .header-container-logo__link.header-team {
        font-size: 19px;
        line-height: 22px;
    }
    
}

@media (max-width:767px) {
    .link-adres.link-teams-adres {
        display: none;
    }
        
}






