* {
    box-sizing: border-box;
}

.icon-bg {
    background: linear-gradient( 42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    background-position: center;
    background-repeat: no-repeat; 
    @extend %cont; 
    min-height: 100vh;
}

.icon-bg-img {
    background-image: url(../images/fon.svg);
    background-position: center 178px;
    background-repeat: no-repeat; 
}
 .header-container-lang {
    display: flex;
}

.btm-nav {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header {
    padding-bottom: 120px;
    padding-top: 50px;
}

.header-container-lang__link-lang-uk {
    @extend %lang;
    @extend %outline;
}

.link-lang {
    @extend %lang;
}

.header-container-lang__link.link-lang:hover {
    @extend %fon;
}

.header-container-lang__link-lang-uk:hover {
    @extend %fon;
}

.header-container-contacts__link-adres {
    text-decoration: none;
    color: $primari_color;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 10px;
}

.header-container-contacts__link-tel {
    text-decoration: none;
    color: $primari_color;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    margin-right: 10px;
}

.header-container-logo {
    margin-right: 20px; 
}

.header-container-contact {
    display: flex;
    margin-bottom: 19px;
    padding-top: 6px;
}

.header-container-logo__link {
    text-decoration: none;
    display: block;
}

.header-nav__list {
    display: flex;
}

.header-container-nav {
    display: flex;
    order: 1;
    justify-content: flex-end;
}

.header-nav__link {
    text-decoration: none;
    color: $primari_color;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.header-nav__item {
    margin-right: 15px;
}

.header-nav__item:last-child {
    margin-right: 0px;
}

.header-container-lang {
    margin-right: 10px;
}

.header-container-contacts__link-f:hover {
    background: url(../images/Facebook.svg);
}

.header-container-contacts__link-f{
    background: url(../images/Facebook_w.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: top;
}

.header-nav__link:hover {
    color: $active_color;
}

.fb:hover {
    fill: $active_color;
}

.header-container-lang::after   {
    @extend %point;
}

.header-container-contacts {
    display: flex;
}

.header-container-contacts__link-adres::after {
    @extend %point; 
}

.header-container-contacts__link-tel::after {
    @extend %point;
}

.header-container-contacts__link-adres:hover {
    color: $text_color;
}

.header-container-contacts__link-tel:hover {
    color: $text_color;
}

.icon-logo-container__text {
    font-size: 38px;
    line-height: 45px;
    color: $primari_color;
    font-weight: 500;
    max-width: 600px;
    text-align: center;
    margin-bottom: 152px;
}

.icon-logo {
    margin-top: 58px;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-buton__btm-svg {
    border-radius: 50%;
    border: 1px solid $primari_color;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 12px 11px 13px 11px;
    background-color: $supersoft_color;
    width: 42px;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 138px;
}

.icon-buton {
    background-size: 100% 200px ;
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center; 
}


.icon-bg::after {
    background-image: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 200px;
    width: 100%;
}

.icon-logo__container {
    margin-bottom: auto;
}

@media (max-width:900px) {
    .icon-bg {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .header-container-lang::after   {
        display: none;
    }

    .header-container-logo {
        order: 1;
    }

    .header-container {
        flex-direction: column;
        display: flex;
    }

    .header-container-contact {
        justify-content: space-between;
    }

    .header {
        padding-bottom: 50px;
    }
  
    .icon-buton {
        width: 100%;
    }
}

@media (max-width:767px){


    .svg-logo-mini {
        width: 78px;
        height: 31px;
    }

    .header-nav__list {
        display: none;
    }

    .header-container-contacts__link-adres {
        display: none;
        width: 155px;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 100px;
    }

    .header-container-contacts__link-f {
        display: none;
    }

    .header-container-contacts__link-tel::after {
        display: none;
    }

    .btm-nav {
        text-decoration: none;
        display: initial;
        display: block;
    }

    .header-container-logo {
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }

    .icon-logo {
        margin-top: 0px;
        padding-top: 38px;
    }

    .icon-logo__container {
        margin-bottom: 63px;
    }

    .icon-bg-img  {
        background-image: url(../images/logotip.svg);
    }

    



   
}










