.main-cases.container {
    background-color: $primari_color;
    padding-bottom: 30px;
    padding-top: 31px;
}

.main-cases-container {
    background-color: $bg_color;
    border-radius: 12px;
}

.main-cases-container__title.title-first {
    color: $accent_color;
    padding-bottom: 20px;
    margin-bottom: 48px;
    border-bottom: 1px solid $primari_color;
    @extend %cont_mini;
    color: $accent_color;
    @extend %link;
}

.cases-container__title-cases.title-first {
    @extend %cont_mini;
}

.cases-container__link-cases.link-first {
    @extend %cont_mini;
}

.cases-container__title-cases {
    @extend %title-h3;
    color: $main-soft_color;
    margin-bottom: 20px;
}

.cases-container__link-cases {
    @extend %paragraf;
    color: $main-soft_color;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

.main-cases-container__list {
    display: flex;
    flex-wrap: wrap;
}

.main-cases-container__item.item-one {
    width: 33%;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.main-cases-container__item {
    width: 34%;
    @extend %cont_mini;
    padding-bottom: 20px;
    border-bottom: 1px solid $primari_color;
    border-right: 1px solid $primari_color;
    padding-top: 105px;

    &:hover {
        background-color: $grey-bg-alt_color;
    }
}

.main-cases-container__item.item-fird {
    width: 33%;
    padding-top: 105px;
    border-bottom: 1px solid $primari_color;
    border-right: 1px solid $primari_color;
}

.main-cases-container__item.item-second {
    width: 23%;
    padding-top: 20px;
}

.main-cases-container__item.item-four {
    width: 33%;
    padding-top: 76px;
}

.main-cases-container__item.item-five {
    width: 44%;
    padding-top: 76px;
}

.main-cases-container__item:nth-child(n+5) {
    border-bottom: none;
}

.main-cases-container__item:nth-child(4n+3) {
    border-right: none;
}

.cases-container__title-cases {
    @extend %paragraf;
    color: $solid_color;
   
}

// .main-cases-container__item-one {
//     display: none;
// }

.main-cases-container__item.item-two {
    display: none;
}


// .main-cases-container__item.item-wan:hover + .main-cases-container__item-one {
//     display: flex;
//    width: 100%;

// }

.main-cases-container__list:hover + .main-cases-container__item.item-ones {
    display: flex;
   width: 100%;

}

.main-cases-container__item.item-ones  {
   width: 100%;
    display: none;
}

.main-cases-container__list.list-dovn:hover + .main-cases-container__item.item-two {
    display: flex;
   width: 100%;

}

@media (max-width:900px) {
    .main-cases.container {
        width: 100%;
    }

}

@media (max-width:767px) {
    .main-cases-container__list {
       flex-direction: column-reverse;
    }

    .container__item {
        border-right: none;
    }

    .main-cases-container__item {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 21px;
        border-bottom: 1px solid $primari_color;
        order: 2;
    }

    .main-cases-container__item.item-one {
        width: 100%;
        border-bottom: 1px solid $primari_color;
        order: 7;
    }

    .main-cases-container__item.item-fird {
        width:100%;
        padding-top: 20px;
        padding-bottom: 21px;
        border-bottom: 1px solid $primari_color;
        order: 4;
    }
    
    .main-cases-container__item.item-second {
        width: 100%;
        border-bottom: 1px solid $primari_color;
        order: 5;
    }
    
    .main-cases-container__item.item-four {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 21px;
        border-bottom: 1px solid $primari_color;
        order: 6;
    }
    
    .main-cases-container__item.item-five {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 21px;
        border-bottom: 1px solid $primari_color;
    }
}




