.container-teams__link {
    @extend %link;
    color: $regular_color;
    margin-bottom: 3px
}

.main-team-container-teams {
    padding-top: 40px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.main-team {
    @extend %cont;
    background-color: $primari_color;
    padding-top: 41px;
}

.main-team__container {
    background-color: $bg_color;
    display: flex;
    border-radius: 12px;
}

.container-teams__text.title-hero {
    @extend %hero;
    @extend %gradient-color;
    margin-bottom: 20px;
}

.main-team-container__img {
    display: block;
}

.container-teams__title.title-name {
    @extend %title-4;
    color: $text_color;
    margin-bottom: 5px;
}

.container-teams__text.text-boss {
    @extend %paragraf-mini;
    color: $text_color;
}

@media (max-width:900px) {
  
    .main-team {
        width: 100%;
    }

    .main-team__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    .main-team-container-teams {
        padding-top: 10px;
    }

    .container-teams__name {
        order: -1;
        margin-bottom: 20px;
        text-align: center;
    }

    .container-teams__text.title-hero {
        margin-bottom: 0px;
    }  
}


@media (max-width:767px) {

    .main-team {
        width: 100%;
    }

    .main-team__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    .main-team-container-teams {
        padding-top: 10px;
    }

    .container-teams__name {
        order: -1;
        margin-bottom: 20px;
        text-align: center;
    }

    .container-teams__text.title-hero {
        margin-bottom: 0px;
    }

    .img {
        width: 60px;
        height: 60px;
       
    }  
}