.main-teams {
    position: relative;
    padding-top: 61px;
}

.main-team.container {
    background-color: $primari_color;
    display: flex;
    flex-direction: column;
}

.main-team__container {
    background-color: $bg_color;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
     margin-bottom: 46px;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

.main-team-container-teams {
    padding-top: 40px;
    margin-left: 20px;
}

.container__link {
    @extend %link;
    color: $regular_color;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: top;  
}

.container-teams-link-foto {
    display: inline-block;
    vertical-align: top;
}

.main-team-container-link {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 41px;
}

.container-teams__text.title-hero {
    margin-bottom: 20px;
}

.title-name {
    @extend %title-4;
    color: $text_color;
    margin-bottom: 5px;
}

.text-boss {
    @extend %paragraf-mini;
    color: $text_color;
}

.main-team-container-link {
    display: flex;
}

.img-foto-mini {
    display: none;
}

.img-foto {
    display: block;
}

.swiper-pagination-bullet {
    margin-right: 14px;
    opacity: 0.2;
    background-color: #24A3FF;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    content: '';
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin-right: 14px;
    margin-left: 0px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
    margin-right: 0px;
}


