.main-services__container {
    padding-bottom: 80px;  
}

.services-exper {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-position: center ;
    background-repeat: no-repeat;  
}

.main-container {
    @extend %cont;
    box-shadow: 0px 30px 0px -20px rgba(202, 202, 219, 1), 0px 50px 0px -30px rgba(231, 231, 242, 1); 
    border-radius: 0px 0px 12px 12px;
    position: relative;
    z-index: 1;
    padding-top: 80px;
}

.main-services-menu__list {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.container__link.link-services {
    opacity: 0.5;
    color: $primari_color;
    @extend %link;
    margin-bottom: 3px;
}

.main-services-container.title-hero {
    margin-bottom: 58px;
}

.title-hero {
    @extend %hero;
    @extend %gradient-color;
}

.main-services-menu__title {
    @extend %title-h3;
    margin-bottom: 15px;
}

.main-services-menu__img {
    margin-bottom: 20px;
}

.main-services-menu__text {
    @extend %paragraf;
}

.main-services-menu__item {
    margin-right: 5px;
    width: 31%;
    margin-bottom: 58px;
}

.main-services-menu__item:nth-child(3n+3) {
    margin-right: 0px;
}

.main-services-menu__item:nth-child(4n+1) {
    margin-bottom: 0px;
}

@media (max-width:900px) {
    .main-services {
        width: 100%;
    }

    .main-services-container.title-hero {
        width: 100%;
    }

    .main-services-menu__item {
        margin-right: 5px;
        width: 47%;
        margin-bottom: 58px;
    }

    .main-services-menu__item:nth-child(2n+2) {
        margin-right: 0px;
    }

    .main-services-menu__item:nth-child(5n+1) {
        margin-bottom: 0px;
    }
}

@media (max-width:767px) {
    .main-services-menu__item {
        width: 100%;
        margin-bottom: 40px;
    }

    .main-services-container.title-hero {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .main-services-menu__title {
        font-size: 18px;
        line-height: 21px;
        width: 260px;
    }

    .main-services-menu__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // margin-bottom: 40px;
        margin-right: 0px;
    }
    
    .main-services-menu__img {
        width: 64px;
        height: 64px;
        margin-right: 10px;
    }

    .main-services-menu__text {
        font-size: 16px;
        line-height: 22px;
    }

    .main-services-menu__item:nth-child(1n) {
        margin-bottom: 40px;
    }

    .main-services-menu__item:nth-child(6n) {
        margin-bottom: 0px;
    }

    .main-services__container {
        padding-bottom: 20px;
    }
}


