.main-exper { 
    display: flex;
    padding-bottom: 80px;
    position: relative;
}

.main-container {
    padding-top: 70px;
}

.exper-container__title {
    @extend %hero;
    text-decoration: none;
    color: $text_color;  
    border-right: 4px solid ;
    border-color: $separator_color;
   

    &.title-first{
        background: linear-gradient(to right,#EF8080 0%,#F0145A 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-color: $accent_color;
        border-color: $accent_color;
    }
}

.main-exper-link.link-btm {
    width: 6px;
	height: 6px;
	background-color: $separator_color;
	border-radius: 50px;
    content: '';
    display: inline-block;
    vertical-align: top;  
    margin-left: 10px;
    margin-top: 7px;
}

.exper-container-text__title {
    @extend %title-h2;
    margin-bottom: 21px;
}

.exper-container__text {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: $primari_color;
}

.exper-container__list {
    margin-right: 40px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}

.exper-container__title {
    padding-bottom: 21px; 
    padding-right: 40px;
}

.exper-container__title.item-last {
    padding-bottom: 0px;
}

.exper-container__title:hover {
    background: linear-gradient(to right,#EF8080 0%,#F0145A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-color: $accent_color;
    opacity: 0.6;
    border-color: linear-gradient(to right,#EF8080 0%,#F0145A 100%);
}

.exper-container__item:hover .exper-container__title {
    border-color: $accent_color;
}

.exper-container__item.item-last {
    text-align: right;
}

.swiper-container.exper-container-wrapper {
    display: none;
}

.main-exper-link.link-dot.first {
    opacity: 1;
    background-color: $regular_color;
}

.main-exper-container-link {
    display: flex;
    display: none;
}

.main-exper-link.link-dot:last-child {
    margin-right: 0px;
}

.main-exper-link.link-dot:hover {
    opacity: 1;
    background-color: $regular_color;
}

.exper-container-text {
    padding-top: 50px;
}

