.main-exper { 
    display: flex;
    padding-bottom: 100px;
}

.exper-container__link {
    @extend %hero;
    text-decoration: none;
    color: $text_color;
    border-right: 4px solid ;
    border-color: $separator_color;
}

.main-exper-link.link-btm {
    width: 6px;
	height: 6px;
	background-color: $separator_color;
	border-radius: 50px;
    content: '';
    display: inline-block;
    vertical-align: top;  
    margin-left: 10px;
    margin-top: 7px;
}

.exper-container__link.link-first {
    @extend %gradient-color;
}

.exper-container__title {
    @extend %title-h2;
    margin-bottom: 20px;
}

.exper-container__text {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: $primari_color;
}

.main-exper-container {
    margin-right: 40px;   
}

.exper-container__list {
    margin-right: 40px;  
}

.exper-container__item {
    margin-bottom: 20px;   
}

.exper-container__item:last-child {
    margin-bottom: 0px;
}

.exper-container__link:hover {
    @extend %gradient-color;
    border-color: linear-gradient(to right, $gradient-red-text_color);
}

.link-dot {
    @extend %dot ;
    margin-right: 14px;
    opacity: 0.2;
    background-color: $regular_color;
}

.main-exper-link.link-dot.first {
    opacity: 1;
    background-color: $regular_color;
}

.main-exper-container-link {
    display: flex;
    display: none;
}

.main-exper-link.link-dot:last-child {
    margin-right: 0px;
}

.main-exper-link.link-dot:hover {
    opacity: 1;
    background-color: $regular_color;
}

.exper-container-text {
    padding-top: 50px;
}

@media (max-width:900px) {
    .main-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }

    .exper-container__link {
        display: none;
    }

    .exper-container__link.link-first {
        display: initial;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .main-exper-container {
        margin-right: 0px;
        border-right: 0px ;
    }

    .exper-container__title{
        font-size: 22px;
        line-height: 26px;
    }

    .exper-container__text {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
        margin-bottom: 20px;
    }

    .main-exper {
        flex-direction: column;
    }

    .exper-container-text {
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .exper-container__title {
        margin-bottom: 15px;
    }

    .main-exper-container-link {
        display: initial;
        display: flex;
        justify-content: center;
    }
}