@media (max-width:900px) {
    .icon-bg.container {
        width: 100%;
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
   
    .header-container-logo {
        order: 1;
    }

    .header-container {
        flex-direction: column;
        display: flex;
    }

    .header-container-contact {
        justify-content: space-between;
    }

    .header {
        padding-bottom: 50px;
    }
  
    .icon-buton {
        width: 100%;
    }

    .header-dot-lang.dot {
        display: none;
    }

    .main-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }

    .exper-container__title{
        display: none;
    }

    .icon {
        margin-bottom: 9px;
    }

    .main-exper {
        width: 100%;
    }

    .exper-container__title.title-first {
        display: flex;
        border: none;
    }

    .main-exper-container {
        margin-right: 0px;
        border-right: 0px ;
    }

    .exper-container__list{
        align-items: flex-start;
        margin-right: 0px;
        flex-direction: row;
    }
    
    .exper-container-text {
        margin-bottom: 36px;
    }

    .swiper-container.exper-container-wrapper {
        display: flex;
    }

    .main-exper-container.none {
        display: none;
    } 

    .exper-container-text.none {
        display: none;
    }

    .main-team {
        width: 100%;
    }

    .main-team__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    .main-team-container-teams {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .container-teams__name {
        margin-bottom: 20px;
        text-align: center;
    }

    .container-teams-foto {
        order: -2;
    }

    .container-teams__text.title-hero {
        margin-bottom: 0px;
    }  

    .main-cases.container {
        width: 100%;
    }

    .main-public.container {
        max-width: 100%;
    }

    .footer__container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-container-contact {
        margin-bottom: 20px;
    }

    .header-container.header-team-container.container {
        width: 100%;
    }

    .header-container-contact.header-team {
        justify-content: space-between;
        
    }
        // page-tams
    .svg-logo-team {
        width: 76px;
        height: 31px;
    }

    .svg-logo-slesh {
        width: 11px;
        height: 24px;
    }

    .svg-logo-p {
        width: 21px;
        height: 24px;
    }

    .header-container-logo__link.header-team {
        font-size: 19px;
        line-height: 22px;
    }

    .teams-container.container {
        width: 100%;
    }

    .teams__list {
        grid-template-columns:repeat(2, 40%);
        justify-content: center;
    }

    .header-container-logo__link.link-logo.header-team {
        font-size: 19px;
        line-height: 22px;
    }

    .section-services {
        width: 100%;
    }

    .secnion-it {
        width: 100%;
    }

  
   

}

@media (max-width:767px){
    .svg-logo-mini {
        width: 78px;
        height: 31px;
    }

    .nav__list {
        display: none;
    }

    .linr-header.link-adres {
        display: none;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    .link-f {
        display: none;
    }

    .link-tel {
        margin-right: 0px;
        color: $text_color;
    }

    .btm-nav {
        text-decoration: none;
        display: block;
        border: none;
        background-color: inherit;
    }

    .header-container-logo {
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
    }

    .icon-logo {
        margin-top: 0px;
        padding-top: 42px;
    }

    .icon-logo-container__text {
        margin-bottom: 278px;
    }

    .icon-bg-img  {
        background-image: url(../images/logotip.svg);
    }

    .main-exper {
        padding-bottom: 35px;
    }

    .exper-container__title.title-first {
        display: flex;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-bottom: 0px;
    }

    .main-services-menu__item {
        margin-bottom: 38px;
    }

    .exper-container-text__title{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .exper-container__text {
        font-size: 18px;
        line-height: 26px;
        width: 100%;
    }

    .main-exper {
        flex-direction: column;
    }

    .exper-container-text {
        padding-top: 0px;
    }

    .exper-container__title {
        margin-bottom: 15px;
    }

    .main-team {
        width: 100%;
        padding-bottom: 31px;
    }

    .main-team-container-teams {
        margin-left: 0px;
        flex-wrap: wrap;
        margin-left: 21px;
        margin-bottom: 20px;
        align-items: flex-start;
        padding-top: 0px;
    }

    .main-team__container {
        padding-top: 20px;
    }

    .container-teams__text.title-hero {
        margin-bottom: 0px;
    }

    .container-teams-foto {
        display: flex;
        flex-wrap: wrap;
        order: 2;
    }

    .container-teams__name {
        margin-bottom: 0px;
    }

    .teams-cont.container {
        padding-bottom: 30px;
    }

    .img-foto {
        display: none;
    } 
    
    .img-foto-mini {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }

    .container-teams__text.title-hero {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px;
    }

    .container-teams__name {
       width: 180px;
       order: 1;
    }

    .container-item-cases.item-top {
        display: none;
    }

    .container-item-cases {
        flex-direction: column;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .container__item {
        border-right: none;
    }

    .link-arrow.link-cases.none {
        display: none;
    }

    .text-cases {
        width: 100%;
        margin-bottom: 20px;
    }

    .cases-container__title-cases {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .main-cases-container__title.title-first {
        margin-bottom: 20px;
    }

    .main-teams {
        padding-top: 40px;
    }

    .bloc {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 19px;
        border-bottom: 1px solid $primari_color;
    }

    .bloc.bloc-hillel {
        width: 100%;
        border-bottom: 1px solid $primari_color;
    }

    .bloc.item-fird {
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $primari_color;
    }
    
    .bloc.bloc-3d{
        width: 100%;
        border-bottom: 1px solid $primari_color;
    }

    .bloc.bloc-wan {
        padding-top: 20px;
    } 
    
    .bloc.bloc-adtel {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 19px;
        border-bottom: 1px solid $primari_color;
    }
    
    .bloc.item-five {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $primari_color;
    }

    .container-link {
        margin-left: 0px;
        align-items: flex-end;
    }

    .open.container-item-cases {
        display: flex;
        order: 2;
    }

    .main-clients-container {
        width: 187px;
        height: 90px;
        
        &.pic-1 {
            padding: 28px 15px 27px 15px;
        }
    
        &.pic-2 {
            padding: 32px 9px 31px 10px;
        }
    
        &.pic-3 {
            padding: 25px 13px 25px 14px;
        }
    
        &.pic-4 {
            padding: 28px 20px 28px 21px;
        }
    
        &.pic-5 {
            padding: 18px 42px 18px 42px;
        }
    
        &.pic-6 {
            padding: 21px 38px 20px 38px;
        }
    
        &.pic-7 {
            padding: 27px 22px 27px 22px;
        }
    
        &.pic-8 {
            padding: 26px 34px 25px 35px;
        }
    
        &.pic-9 {
            padding: 10px 38px 10px 38px;
        }
    
        &.pic-10 {
            padding: 29px 25px 28px 25px;
        }
    
        &.pic-11 {
            padding: 31px 28px 31px 28px;
        }
    
        &.pic-12 {
            padding: 29px 29px 28px 30px;
        }
    }

    .main-clients-container__item.logo-5
    {
        order: 1;
    }

    .container-list.none {
        display: none;
    }

    .main-public-cont {
        padding-bottom: 130px;
    }

    .container-list {
        margin-bottom: 19px; 
    }

    .main-public.container {
        padding-top: 20px;
    }

    .public-container__text {
        display: none;
    }

    .public-container {
        margin-right: 0px;
        width: 100%;

        &.none {
            display: none;
        }
    }

    .main-public-container-list.list-public {
        padding-bottom: 20px;
    }

    .main-public-list {
        flex-direction: column;
    }

    .main-public-contauner.title-hero {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .container-list.second-foto {
        margin-bottom: 0px;
    }

    .public-container__text-data {
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .main-public-button {
        background:none;
        left: 0px;
        bottom: 40px;
    }

    .button.botton-public  {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    
    .main-public-container-list{
        margin-bottom: 20px;
    
        &.second-foto {
        margin-bottom: 0px;
        }
    }

    .footer {
        padding-top: 22px;
        padding-bottom: 116px;
    }

    .footer-container {
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }

    .dot {
        display: none;
    }

    .footer-container-link.link-adres {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    .footer-container-contact {
        flex-direction: column;
    }

    .footer-container-contact__link.link-f {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .footer-container-contact__link.link-tel {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .footer-container-name.text-name {
        text-align: center;
    }

    .footer-cont-name {
        width: 80%;
    }

    .link-adres.link-teams-adres {
        display: none;
    }

    .title-teams.title-hero {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 22px;
    }

    .header.header-tems {
        padding-bottom: 20px;
    }
  
    .teams__link {
        display: flex;
    }

    .teams__list{
        grid-template-columns: 47%;
        grid-row-gap:  20px;
        justify-content: start;
    }

    .container-teams-name {
        margin-left: 20px;
        flex-direction: column;
       justify-content: flex-end;
    }

    .teams__link.link-for {
        order: 2;
    }

    .teams__link.teams__link.link-fre {
        order: 1;
    }

    .pic-foto {
        margin-bottom: 0px;
    }
    
    .container__link {
        padding-top: 0px;
        margin-bottom: 0px;
    }

    .header.header-team {
        padding-bottom: 20px;
    }

    .container-teams-names {
        width: 155px;
    }

    .teams-container.container {
        padding-bottom: 40px;
    }

    .burger__list{
        display: flex;
        flex-direction: column;
    }

    .burger-item {
        padding: 7px 20px 9px 20px;
        width: 100%;
        background-color: $bg_color;
        border-radius: 12px;
        text-align: center;
        margin-bottom: 11px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .contsiner-icon-help {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: $bg_color;
        width: 40%;
    }

    .popup-burger {
        background-color: rgb(17, 17, 129, 0.7);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: flex-end;
        display: none;
        z-index: 2;
    }

    .popup-burger.open {
        display: flex;
    }

    .burger-container.container {
        display: flex;
        flex-direction: column;
        width: 375px;
        background-color: $primari_color;
        position: relative;
        border-radius: 12px 12px 0px 0px;
        padding-bottom: 20px;
    }

    .nav__link.link-header.link-burger {
        color: $accent_color; 

        &:hover {
            border-bottom: none;
        }
    }

    .nav__link.link-header.burger-link:hover {
        border-bottom: none;
    }

    .burger__nav {
        padding-top: 64px;
    }

    .close.burger-close {
        top: 12px;
        right: 12px;
        background-color: $primari_color;
        position: absolute;
    } 

    .popup {
        width: 100%;
    }

    .popup {
        background-color: rgba(50, 50, 100, 0.7);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        display: flex;
        display: none;
        z-index: 2;
    }
    
    .popup {
        width: 100%;
    }

    .contsiner-icon-help {
        padding-top: 15px;
    }

    .input-tel {
        margin-bottom: 8px;
    }

    .icon-help__title {
        font-size: 22px;
        line-height: 26px;
    }

    .close {
        top: 19px;
        right: 19px;
    }

    .contsiner-icon-help {
        padding-top: 15px;
    }

    .input-tel {
        margin-bottom: 8px;
    }

    .icon-help__title {
        font-size: 22px;
        line-height: 26px;
    }

    .close {
        top: 19px;
        right: 19px;
    }

    .header.header-services {
        padding-bottom: 19px;
    }

    .header-cont-servis.servise-contact{
        justify-content: space-between;
    }

    .title.title-hero {
        font-size: 32px;
        line-height: 38px;
    }

    .text-chois {
        font-size: 18px;
        line-height: 26px;
        text-align: start;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .container-icon {
        align-items: flex-start;
    }

    .header-container-contact.servise-contact {
        justify-content: space-between;
    }

    .secnion-it {
        padding-bottom: 40px;
    }

    .container-icon {
        width: 100%;
    }
    .section-services {
        padding-bottom: 20px;
    }

    .title-servises {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .list-services {
        flex-direction: column;
    }

    .item-services {
        width: 100%;
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .popup-burger.burger-servisec.open {
        display: flex;
    }

    .close.burger-close {
        top: 12px;
        right: 12px;
        background-color: $primari_color;
        position: absolute;
    }

    .container__list-point {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .list-services {
        width: 100%;
    }

    .icon.icon-servisec {
        margin-bottom: 20px;
        width: 92px;
        height: 92px;
    }

    .list-services {
        margin-bottom: 10px;
        margin-right: 0px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .main-services {
        margin-bottom: 10px;
    }

    .contsiner-icon-help.position {
        width: 100%;
    }

    .contsiner-icon-help {
        width: 100%;
    }
}
    
   


