.gradient {
    background: linear-gradientlinear-gradient(180deg, rgba(50, 50, 100, 0.1) 0%, #323264 100%);
    background-position: center;
    background-repeat: no-repeat; 
}

.gradient-down {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    background-position: center;
    background-repeat: no-repeat;
}

.gradient-icon {
    background-image: url(../images/service_page/Cover.svg);
    background-position: top;
    background-repeat: no-repeat; 
    background-size: 100%;
}

.header.header-services {
    padding-bottom: 54px;
}

.header-container-logo__link.link-logo {
    color: $primari_color;
    font-size: 38px;
    line-height: 45px;
}

.nav__link.link-chois {
    padding-bottom: 2px;
    border-bottom: 2px solid $primari_color;
    &:hover {
        border-bottom: 2px solid $active_color;
    }
}

.container-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 83%;
}

.title.title-hero {
    margin-bottom: 20px;
}

.text-chois {
    @extend %text-page;
    color: $primari_color;
    width: 79%;
    text-align: center;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.button.button-chois {
    padding-left: 32px;
    padding-right: 31px;
}

.container-icon {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.secnion-it {
    padding-bottom: 80px;
    border-bottom: 4px solid $border_color;
}

.title-servises {
    @extend %title-h3;
    color: $primari_color;
    margin-bottom: 20px;
}

.dot.dot-list {
    background-color: $accent_color;
    margin-right: 8px;
}

.item-services {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    width: 46%;  
    // justify-content: center;
    &:nth-child(4n+4) {
        margin-bottom: 0px;
    }
}

.item__text {
    @extend %paragraf;
}

.item-services::before {
    background-color: $accent_color;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    content: "";
   display: inline-block;
   vertical-align: top;
}

.list-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-services {
    box-shadow: 0px 30px 0px -20px rgba(202, 202, 219, 1), 0px 50px 0px -30px rgba(231, 231, 242, 1); 
    border-radius: 0px 0px 12px 12px;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    border-radius: 0px 0px 12px 12px;
    padding-bottom: 80px;
}

.main-services {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container-contact.servise-contact {
    display: flex;
    flex-wrap: wrap;
}

.popup.popup-services {
    display: none;
    z-index: 2;
}

.close {
    position: absolute;
    top: 22px;
    right: 22px;
    border: none;
    background-color: $bg_color;
}

.popup.open {
    display: flex;
}
.popup {
    background-color: rgba(50, 50, 100, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    display: none;
    z-index: 2;
}

.icon-help__title {
    @extend %hero-mini;
    @extend %gradient-color;
    margin-bottom: 20px;
}

.contsiner-icon-help.position {
    width: 527px;
    margin: auto;
    position: relative;
}

.input {
    display: block;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 100%;
    margin-bottom: 20px;
    @extend %paragraf;
    color: $accent_color;
    font-family: 'TT Norms';
}

.icon-input::placeholder {
    color: $text_color;
}

.input-name {
    padding: 11px 10px 10px 10px;
}

.input-message {
    padding: 11px 10px 143px 10px;
}

.input-title {
    @extend %link;
    color: $text_color;
    margin-bottom: 10px;
}

.button.button-popup {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 71px;
    padding-right: 71px;
}

.button-popup {
    display: flex;
    justify-content: center;
}
