* {
    box-sizing: border-box;
}

body {
    font-family:'TT Norms', sans-serif;
    min-width: 320px;
}

@import 'variables.scss';
@import 'header.scss';
@import 'font.scss';
@import 'main-services.scss';
@import 'main-exper.scss';
@import 'main-team.scss';
@import 'main-cases.scss';
@import 'main-clients.scss';




