* {
    box-sizing: border-box;
}

body {
    font-family:'TT Norms', sans-serif;
    min-width: 320px;
}

@import 'variables.scss';
@import 'header.scss';
@import 'font.scss';
@import 'main_services.scss';





