.lang-team.link-lang{
    color: $text_color;
}

.lang-team:hover {
    background-color: $bg_color;
}

.lang-team.link-lang-uk.link-lang {
    color: $primari_color;
}

.link-adres.link-teams-adres{
    color: $text_color;
}

.link-tel.link-teams-tel {
    color: $text_color;
}

.path-teams.fsb:hover{
    background-color: $active_color;
}

.nav__link.link-header {
    color: $regular_color;

    &:hover{
        color: $accent_color;
        border-bottom: 2px solid $accent_color;
    }
}

.nav__link.link-header.link-team {
    color: $accent_color;
}

.header-team.nav__item.item-team {
    border-bottom: 2px solid $accent_color;
}

.header-container-contact.header-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo__link-header-team {
    display: none;
}

.header-container-logo__link.header-team {
    font-size: 38px;
    line-height: 45px;
    color: $supersoft_color;
    display: flex;
    flex-wrap: wrap;
}

.svg-logo-team {
    margin-right: 4px;
}

.teams-container.container {
    padding-bottom: 60px;
}

.title-teams.title-hero {
    margin-bottom: 80px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.teams-text.title-name {
    color: $supersoft_color;

    &:hover {
        color: $accent_color;
    }
}

.swiper-pagination-bullet {
    margin-right: 14px;
    opacity: 0.2;
    background-color: #24A3FF;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    content: '';
}

.teams__list {
    display: grid;
    grid-template-columns:repeat(3, 31%);
    grid-gap: 40px;
}

.link-arrow {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border: none;
}

.img-teams-link {
    padding: 7px 11px 8px 12px;
    background-color: $bg_color;
    border-radius: 100%;
}

.link-text-logo {
    font-size: 38px;
    line-height: 45px;
    text-decoration: none;
    color: $supersoft_color;
}

.container-teams-name {
    display: flex;
    justify-content: space-between;
}

.pic-foto {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.container-teams-name {
    display: flex;
}

.container__link {
    padding-top: 3px;
}






