%cont{
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

$main-soft_color: #686887;
$primari_color: #FFFFFF;
$fird_color:#F0145A;
$bg_color: #F5F5FA;
$text_color: #B3B3BA;
$active_color: #0085FF;
$separator_color:#E6E6F0;
$supersoft_color: #323264;


%fon {
    background-color: $primari_color;
    color: $text_color;
}

%lang {
    text-transform: uppercase;
    text-decoration: none;
    color: $primari_color;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 5px 6px 5px;
    border-radius: 25%;
    border: none;
}

%outline {
    background-color: $fird_color;
}

%point {
    width: 6px;
	height: 6px;
	background-color: $separator_color;
	border-radius: 50px;
    content: '';
    display: inline-block;
    vertical-align: top;  
    margin-left: 10px;
}